{% extends "main.html" %}


  {% block main-content %}

  
<div class="container-fluid">
    
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>
        <a href="{% url 'essays.create'%}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-plus text-white-50" style="margin-right: 15px"> </i>Crear Nuevo
        </a>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Se muestra un listado de ensayos con el porcentaje de plagio que contienen</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered tableResults" id="dataTable" >
                    <thead>
                    <tr>
                        <th style="width: 50px">#</th>
                        <th>Ensayo 1</th>
                        <th>Ensayo 2</th>
                        <th>Porcentaje de Plagio</th>
                        <th>Verifcado el </th>
                        <th>Acciones </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for result in results %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><span class="text-primary font-weight-bold">{{ result.essay1_name }}</span> {{ result.essay1_author }}</td>
                            <td><span class="text-primary font-weight-bold">{{ result.essay2_name }}</span> {{ result.essay2_author }}</td>
                            <td>{{ result.avg }}</td>
                            <td>{{ result.verified_on }}</td>
                            <td>
                                <a href="{% url 'essays.show' result.essay1_id  %}" class="btn btn-success  btn-sm" title="Ver Ensayo 1">
                                   <i class="fas fa-file" style="margin-right: 5px;"></i><sup>1</sup>
                                </a>
                                <a href="{% url 'essays.show' result.essay2_id  %}" class="btn btn-warning  btn-sm" title="Ver Ensayo 2">
                                    <i class="fas fa-file" style="margin-right: 5px;"></i><sup>2</sup>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


  <script>

      document.addEventListener("DOMContentLoaded", function(event) {
            $('#dataTable').DataTable({
                responsive: true,
                language : {
                    sProcessing: "Procesando...",
                    sLengthMenu: "Mostrar _MENU_ registros",
                    sZeroRecords: "No se encontraron resultados",
                    sEmptyTable: "Ningún dato disponible en esta tabla",
                    sInfo: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
                    sInfoPostFix: "",
                    sSearch: "Buscar:",
                    sUrl: "",
                    sInfoThousands: ",",
                    sLoadingRecords: "Cargando...",
                    oPaginate: {
                    sFirst: "Primero",
                    sLast: "Último",
                    sNext: "Siguiente",
                    sPrevious: "Anterior"
                    },
                    oAria: {
                    sSortAscending: ": Activar para ordenar la columna de manera ascendente",
                    sSortDescending: ": Activar para ordenar la columna de manera descendente"
                    },
                    buttons: {
                    copy: "Copiar",
                    colvis: "Visibilidad"
                    }
                }
            });
      });

  </script>


</div>




{% endblock %}


