{% extends "main.html" %}


  {% block main-content %}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>
    </div>

   <form action="{% url 'essays.save' %}" method="POST">
       {% csrf_token %}

       <input type="hidden" name="essay_id" value="{{ index }}">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
               <div class="col-4">
                    <div class="form-group">
                        <h5>Titulo</h5>
                        <input type="text" class="form-control form-control-user" name="title"
                            placeholder="Ingresa titulo" value="{{essay.title}}" required>
                    </div>
               </div>

               <div class="col-4">
                    <div class="form-group">
                        <h5>Grupo de Tarea</h5>
                            
                        <select class="form-control" name="task_group">
                            {% for task_group in task_groups %}

                                {% if essay.task_group.id == task_group.id %}
                                    <option value="{{ task_group.id }}" selected>{{ task_group.name }}</option>
                                {% else %}
                                    <option value="{{ task_group.id }}">{{ task_group.name }}</option>
                                {% endif %}
                            
                            {% endfor %}
                        </select>
                </div>
               </div>

                <div class="col-4">
                    <div class="form-group">
                        <h5>Autor</h5>
                        <select class="form-control" name="author" >
                            {% for author in authors %}

                                {% if essay.author.id == author.id %}
                                    <option value="{{ author.id }}" selected>{{ author.name }}</option>
                                {% else %}
                                    <option value="{{ author.id }}">{{ author.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                   </div>
                </div>
            
            </div>
            <!-- Card Body -->
            <div class="card-body">
                 <h5>Contenido</h5>
            <textarea name="content" required>{{essay.content}}</textarea>

            <div class="py-3 d-flex flex-row align-items-center justify-content-between">
            <button class="btn btn-success" type="submit">Guardar</button>

                  <h6>{{essay.date}}</h6>
            
            </div>
            </div>
        </div>
   </form>

</div>




{% endblock %}


