{% extends "main.html" %}


  {% block main-content %}

  
<div class="container-fluid">
    
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Mis Ensayos</h1>
        <a href="{% url 'essays.create'%}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-plus text-white-50" style="margin-right: 15px"> </i>Crear Nuevo
        </a>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Se muestra un listado de ensayos</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered tableEssays" id="dataTable" >
                    <thead>
                    <tr>
                        <th style="width: 50px">#</th>
                        <th>Titulo</th>
                        <th>Autor</th>
                        <th>Grupo de Tarea</th>
                        <th>Subido el</th>
                        <th style="width: 150px">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for essay in essays %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ essay.title }}</td>
                            <td>{{ essay.author.name }}</td>
                            <td>{{ essay.task_group.name }}</td>
                            <td>{{ essay.date }}</td>
                            <td>
                                 <a href="{% url 'essays.show' essay.id  %}" class="btn btn-primary  btn-sm">
                                        <i class="fas fa-eye"></i>
                                 </a>
                                <a href="{% url 'essays.edit' essay.id  %}" class="btn btn-warning  btn-sm">
                                        <i class="fas fa-pen"></i>
                                 </a>
                                 <button class="btn btn-danger btn-sm btnDelete" essay_id="{{essay.id}}">
                                        <i class="fas fa-trash"></i>
                                 </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


  <script>

      document.addEventListener("DOMContentLoaded", function(event) {
            $('#dataTable').DataTable({
                responsive: true,
                language : {
                    sProcessing: "Procesando...",
                    sLengthMenu: "Mostrar _MENU_ registros",
                    sZeroRecords: "No se encontraron resultados",
                    sEmptyTable: "Ningún dato disponible en esta tabla",
                    sInfo: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
                    sInfoPostFix: "",
                    sSearch: "Buscar:",
                    sUrl: "",
                    sInfoThousands: ",",
                    sLoadingRecords: "Cargando...",
                    oPaginate: {
                    sFirst: "Primero",
                    sLast: "Último",
                    sNext: "Siguiente",
                    sPrevious: "Anterior"
                    },
                    oAria: {
                    sSortAscending: ": Activar para ordenar la columna de manera ascendente",
                    sSortDescending: ": Activar para ordenar la columna de manera descendente"
                    },
                    buttons: {
                    copy: "Copiar",
                    colvis: "Visibilidad"
                    }
                }
            });
      });

      $(".tableEssays tbody").on("click","button.btnDelete",function(){

            const essay_id = $(this).attr("essay_id");
            swal.fire({
                title: '¿Estas seguro de eliminar este Ensayo?',
                text: "¡Si no lo estas puedes cancelar!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                cancelButtonText: 'Cancelar',
                confirmButtonText: 'Si, estoy seguro'
            }).then((result)=>
            {
                  if (result.value)
                  {
                    window.location = `/essays/delete/${essay_id}`;
                  }
            });


      });


  </script>


</div>




{% endblock %}


