{% extends "main.html" %}


  {% block main-content %}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>
    </div>


        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                 <h6 class="m-0 font-weight-bold text-primary">{{essay.title}}</h6>

                <h6>{{essay.author}}</h6>


            </div>
            <!-- Card Body -->
            <div class="card-body">
           {{essay.content}}

            <div class="py-3 d-flex flex-row align-items-center justify-content-between">
            <a class="btn btn-danger" href="{% url 'essays.index' %}">Volver</a>

                <h6>{{essay.date}}</h6>

            </div>
            </div>
        </div>


</div>




{% endblock %}

